.footer {
    text-transform: uppercase;
    background-color: rgb(44, 65, 82);
    box-sizing: border-box;
    padding: 70px 70px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    border-top: gray;
    text-align: justify;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 20%;
    padding: 0 30px;
}

.footer-col h4 {
    font-size: 13px;
    color: rgb(255,255,255);
    margin-bottom: 35px;
    font-weight: bolder;
    position: relative;
    margin-left: 38px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

ul {
    list-style-type: none;
}

.footer-col ul li a {
    font-size: 11px;
    text-decoration: none;
    font-weight: 300;
    color: rgb(255,255,255);
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 8px;
}

.social-links a {
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 40px;
    border-radius: 15%;
    color: #222;
    transition: all 0.5s ease;

}

.social-links {
    display: flex;
    gap: 20px;
}

#first-right {
    height: 100%;
    width: 25%;
    /* font-size: 11px; */
    color: rgb(104, 101, 101);
}

.right {
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: left;
}

.right>p {
    font-family: HCoGothamSSmLight, Arial, Sans-Serif;
    font-size: 1rem;
    font-weight: 600;
    border-left: 1px solid gray;
    padding-left: 10px;
    color: gray;
}

#bottom-footer{
    height: 140px;
    width: 100%;
    background-color: rgb(44, 65, 82);
    justify-content: space-between;
    display: flex;
    
}
#main{
    /* font-size: 14px; */

    width: 40%;
    margin-left: 110px;
    margin-top: 30px;
    color: rgb(255,255,255);
    
}

#btm-left{
    font-size: 14px;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}
#btm-right{
    margin-top: 32px;
    color: rgb(255,255,255);
    margin-right: 110px;
}
#f-btns{
    display: grid;
    text-align: center;
   margin-top: 18px;
    height: 110px;
    width: 55px;
    margin-right: 45px;
    grid-gap: 5px;

}
#foot-btn{
  
    background-color: #ffffff;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    cursor: pointer;
}
#foot-btn1{
    background-color: #ffffff;
    font-size: 35px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    cursor: pointer;
    
}