

/*  for changing the color ---------------- */
.colorText{
   border: 2px solid #2874f0  ;  
    background-color:#2874f0 ; 
   color:#ffffff ;
   border-radius:50% ;
   width:30px ; 
  
   
}
.plainText{
   color: black ;

}

