

.horizatalRule{
    /* background-color: #e7e9ee ; */
    border: 0.1px solid #e7e9ee ;
    margin-top: 4vh;
 
}
.horizatalRule1{
    border: 0.1px solid #e7e9ee ;
    margin-top: 12px ;
    margin-bottom: 12px ;
 
}



/*  For responsiveness code----------------------- */
#allPagesLink{
    display: flex;
    /* border: 2px solid red; */
}
#ResponsiveAllProductPages{
    display: none;
}

/*  Media Queries----------------------------------------------------- */


@media  (min-width: 300px) and (max-width: 800px)  {
    #allPagesLink{
     display: none;
     /* border: 2px solid red; */
    }
    #ResponsiveAllProductPages{
        display: flex;
    }
 }


 /*  For clearing filter------------- */

 .clearAllFilter:hover{
   text-decoration: underline;
   color : #e11d41
 }